
AssetStore/.vs/AssetStore/v15/Server/sqlite3/db.lock
AssetStore/Library/shadercompiler-UnityShaderCompiler.exe0.log
AssetStore/Library/shadercompiler-UnityShaderCompiler.exe0.log
AssetStore/Temp/UnityLockfile

AssetStore/\.vs/AssetStore/v15/

AssetStore/Assets/Scripts/ScriptableObjects/Character\.cs

AssetStore/Library/assetDatabase3

AssetStore/Library/CurrentLayout\.dwlt

AssetStore/Library/EditorInstance\.json

AssetStore/Library/expandedItems

AssetStore/Library/metadata/2d/2d066649036938441860d1cdb7e7e08a

AssetStore/Library/metadata/2d/2d066649036938441860d1cdb7e7e08a\.info

AssetStore/Library/metadata/75/757b3ece829881a45ba1728051148b51

AssetStore/Library/ScriptAssemblies/Assembly-CSharp\.dll

AssetStore/Library/ScriptAssemblies/Assembly-CSharp\.dll\.mdb

AssetStore/Library/ShaderCache/5/53f5866dacd4cdda8cf32bc4a7cb577e\.bin

AssetStore/Library/ShaderCache/b/b80db74b79aa46586f89b48e2d721e2c\.bin

AssetStore/Temp/UnityTempFile-1982777ab7742d5458aa9981b2c07dba

AssetStore/Temp/UnityTempFile-836d54a9f2457da4f9c46b9581b9de9c

AssetStore/Temp/UnityTempFile-ae7be2a696bc9904a9d877c5086bcd9b

AssetStore/Temp/UnityTempFile-db6f228acc01e1b46a7bb5937aecc584

AssetStore/Temp/UnityVS_obj/Debug/AssetStore\.csproj\.CoreCompileInputs\.cache

AssetStore/Temp/UnityVS_obj/Debug/Unity\.PackageManagerUI\.Editor\.csproj\.CoreCompileInputs\.cache

AssetStore/Temp/UnityVS_obj/Debug/UnityEditor\.StandardEvents\.csproj\.CoreCompileInputs\.cache
