
AssetStore/.vs/AssetStore/v15/Server/sqlite3/db.lock
AssetStore/Library/shadercompiler-UnityShaderCompiler.exe0.log
AssetStore/Library/shadercompiler-UnityShaderCompiler.exe0.log
AssetStore/Temp/UnityLockfile

AssetStore/\.vs/AssetStore/v15/
